<%- include('./partials/head') %>
<br>
<div class="container">
  <div class="col-md-12">
    <div class="h-100 p-5 text-dark border bg-light rounded-3">
      <h2><%- place.name %></h2>
      <p></p>
      <a id="openInGoogle" target="_blank" href="#" class="btn btn-outline-dark">Find In Google Maps</a>
    </div>
  </div>
  <br>
  <div class="row">
      <h1 class="text-center">Contact Information</h1>
      <!-- Grid row -->
      <div class="row">
        <ul class="list-group">
          <% if (place.name) {%>
          <li class="list-group-item">Name: <%- place.name %></li>
          <% } %>
          <% if (place.contactNum) {%>
          <li class="list-group-item">phone: <%- place.contactNum %></li>
          <% } %>
          <% if (place.address) {%>
          <li class="list-group-item">Name: <%- place.address %></li>
          <% } %>
          <% if (place.website) {%>
          <li class="list-group-item">Name: <%- place.website %></li>
          <% } %>
        </ul>
      </div>
    </div>
    <br><br>
    <h1 class="text-center">Geographic Location</h1>
    <br>
    <div class="row">
      <div class="col-12"><div id="mapid" style="width: 100%; height: 400px" class="border rounded border-info"></div></div>
    </div>
    </div>
    <br><br>
    <h1 class="text-center">Busy Hours</h1>
    <br>
    <div class="row">
      <div class="col-md-12">
        <table width="100%" style="text-align: center;">
        <thead>
          <tr>
            <td>Times</td>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thursday</td>
            <td>Friday</td>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i <= times.length - 1; i++) { %>
            <tr>
              <td> <%- (i > 4) ? (i -4) : (i + 8) %> </td> 
              <% for( var k = 0; k <= times[k].length; k ++) { %>
                <td style="background: rgba(106,220,153, <%- (times[i][k]/40) %>);">  </td>
              <% } %>
            </tr>
          <% } %>
        </tbody>
      </table>
      </div></div>
    <br>
  </div>
</div>
  <script type="text/javascript">
  
  document.getElementById("openInGoogle").setAttribute("href","https://www.google.com/maps?q=".concat(<%-place.latlng.lat%>,",",<%-place.latlng.lng%>));
    // LEAFLET
    var mymap = L.map('mapid').setView([<%- place.latlng.lat %>, <%- place.latlng.lng %>], 14);

    var OpenStreetMap_DE = L.tileLayer('https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png', {
      maxZoom: 18,
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });

    OpenStreetMap_DE.addTo(mymap)

    let marker;
    marker = L.marker([ <%- place.latlng.lat %>, <%- place.latlng.lng %>]).addTo(mymap)
  </script>

<%- place %>
<%- include('./partials/footer') %>