<%- include('./partials/head') %>
<%- place %>
<br>
<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#sirestrictions" type="button" role="tab" aria-controls="home" aria-selected="true">Curfew</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#vaccinationsites" type="button" role="tab" aria-controls="profile" aria-selected="false">Vaccination Sites</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#hospitals" type="button" role="tab" aria-controls="contact" aria-selected="false">Hospitals</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#heatmap" type="button" role="tab" aria-controls="contact" aria-selected="false">Heat Map</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#covidstatistics" type="button" role="tab" aria-controls="contact" aria-selected="false">Covid Statistics</button>
    </li>
  </ul>
  <br>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="sirestrictions" role="tabpanel" aria-labelledby="home-tab">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Day of Week</th>
            <th scope="col">Curfew Ends</th>
            <th scope="col">Curfew Starts</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i <= place.curfew.length - 1; i++) { %>
          <tr>
            <th scope="row"><%- place.curfew[i].day %></th>
            <td><%- place.curfew[i].openHour %>pm</td>
            <td><%- place.curfew[i].closeHour %>am</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="vaccinationsites" role="tabpanel" aria-labelledby="profile-tab">
      <h1>Clinics</h1>

      <div id="clinicsmap" style="width:100%; height: 700px;"></div>

      <script type="text/javascript">

        // LEAFLET
        var clinicmap = L.map('clinicsmap').setView([17.319093, -88.592259], 8);

        var OpenStreetMap_DE = L.tileLayer('https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        });

        OpenStreetMap_DE.addTo(clinicmap)

        let marker;
        <% for (var i = place.clinics.length - 1; i >= 0; i--) { %>
          marker = L.marker([ <%-place.clinics[i].latlng.lat%>, <%-place.clinics[i].latlng.lng%>]).addTo(clinicmap)
          marker.bindPopup("<h1><%-place.clinics[i].name%></h1><p><a href='/clinic/<%-place.clinics[i]._id%>'>Click here for more information</a></p>")
        <% } %>

      </script>

    </div>
    <div class="tab-pane fade" id="hospitals" role="tabpanel" aria-labelledby="profile-tab">
      
    </div>
    <div class="tab-pane fade" id="heatmap" role="tabpanel" aria-labelledby="profile-tab">
      <h1>HeatMap</h1>

      <div id="mapid" style="width:100%; height: 500px;"></div>

      <script type="text/javascript">
        // LEAFLET
        var heatmap = L.map('mapid').setView([17.319093, -88.592259], 8);

        var OpenStreetMap_DE = L.tileLayer('https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        });

        OpenStreetMap_DE.addTo(heatmap)

        // HEATMAP
        var testData = {
          max: 5000,
          data: [
          {lat: 17.496026, lng: -88.221972, count: 3594},
          {lat: 17.228026, lng: -88.900229, count: 2719},
          {lat: 18.292734, lng: -88.356200, count: 1626},
          {lat: 17.744227, lng: -88.858985, count: 2711},
          {lat: 16.968343, lng: -88.315755, count: 1581},
          {lat: 16.293189, lng: -88.878374, count: 1016},
          ]
        };


        var cfg = {
          // radius should be small ONLY if scaleRadius is true (or small radius is intended)
          // if scaleRadius is false it will be the constant radius used in pixels
          "radius": 0.15,
          "maxOpacity": .8,
          // scales the radius based on map zoom
          "scaleRadius": true,
          // if set to false the heatmap uses the global maximum for colorization
          // if activated: uses the data maximum within the current map boundaries
          //   (there will always be a red spot with useLocalExtremas true)
          "useLocalExtrema": false,
          // which field name in your data represents the latitude - default "lat"
          latField: 'lat',
          // which field name in your data represents the longitude - default "lng"
          lngField: 'lng',
          // which field name in your data represents the data value - default "value"
          valueField: 'count'
        };

        var heatmapLayer = new HeatmapOverlay(cfg);
        heatmapLayer.addTo(heatmap)
        heatmapLayer.setData(testData)


        var triggerTabList = [].slice.call(document.querySelectorAll('#myTab button'))
        triggerTabList.forEach(function (triggerEl) {
          triggerEl.addEventListener('click', function (event) {
            event.preventDefault()

            setTimeout(function () {
                clinicmap.invalidateSize();
                heatmap.invalidateSize();
            }, 500);
          })
        })
      </script>
    </div>
    <div class="tab-pane fade" id="covidstatistics" role="tabpanel" aria-labelledby="profile-tab">
      
    </div>
  </div>
</div>
<%- include('./partials/footer') %>